@use 'sass:math';

@media (min-width: 360px) {
    body {
        font-size: 1em;
    }
}

@media (max-width: 867px) {
    .main {
        padding: 0 0.5em 0.5em;
    }

    .header {
        flex-direction: column;
    }

    .logo {
        display: none !important;
    }

    .nav {
        clear: both;
        padding: 0;

        ul {
            flex-direction: column;
            padding-bottom: 1em;
        }

        ul li {
            display: block;
            margin-left: 0;
            text-align: center;
        }

        ul li a {
            display: block;
            padding: 0.5em 0;
        }
    }

    .landingpage {
        display: flex !important;
        flex-direction: column;
    }

    .sidebar {
        display: none !important;
    }

    .report {
        grid-template-columns: auto !important;
    }

    .css,
    .git,
    .html,
    .javascript,
    .php,
    .python,
    .sqlite {
        grid-column: span 1 !important;
    }

    .js {
        .nav-toggle {
            display: block;
            float: right;
            width: 2em;
            margin: math.div(3, 2) em 0;
            font-size: 1.5rem;
            line-height: 2em;
            text-align: center;
            cursor: pointer;
        }

        .nav-toggle > * {
            vertical-align: middle;
        }
    }

    .car-grid {
        display: block !important;
    }

    .car-grid .item {
        padding: 0.5rem;
    }
}
