@import 'style';

* {
    color: $font-color-dark;
}

body {
    background-color: $background-color-dark;
}

img {
    filter: brightness(0.8) contrast(1.2);
}

.nav {
    a,
    .nav-toggle {
        color: $font-color-dark;
    }
}

.main {
    background-color: $background-color-dark;
}

// Footer
.header,
.footer {
    background: $background-alternative-color-dark;
}

.tech {
    border: 1px solid $secondary-color;
    border-left: 5px solid $secondary-color;
}

.tech:hover {
    border-left: 15px solid $secondary-color;
}

.color-palette {
    border: 1px solid $font-color-dark;
}

blockquote {
    border-left: 0.5em solid $background-alternative-color-dark;
}

code {
    border: 1px solid $font-color-dark;
    background: $background-alternative-color-dark;
}

pre {
    border: 1px solid $secondary-color;
    background: $background-alternative-color-dark;
}
