$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #3b4d8f;
$background-color: #fff;
$background-alternative-color: #000;

$primary-color: #80b0e6;
$secondary-color: #8794c6;
$secondary-color-2: #ffe3a3;

$font-color-dark: rgb(200, 200, 200);
$font-alternative-color-dark: #eee;
$background-color-dark: #222;
$background-alternative-color-dark: #444;
