{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="report">
            <div class="sidebar">
                {% include 'incl/sidebar.twig' %}
            </div>
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>